<div class="cont-details">

    <img class="img1" src="https://cf.bstatic.com/images/hotel/max1024x768/109/109704407.jpg" alt="">
    <div class="content">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="img2"></div>
                <mat-card-title>Titulo</mat-card-title>
                <mat-card-subtitle>Subtitulo</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum error quasi ex asperiores? Exercitationem odit tempora iure doloremque placeat, eaque impedit, tenetur, quibusdam mollitia doloribus enim. Nisi, officia tenetur!</p>
                <ul class="details">
                    <li><span class="material-icons">groups</span></li>
                    <li><span class="material-icons">drafts</span></li>
                    <li><span class="material-icons">single_bed</span></li>
                    <li><span class="material-icons">bathtub</span></li>
                </ul>
                <p>Servicios</p>
                <span class="material-icons">pets</span>
                <span class="material-icons">room</span>
                <span class="material-icons">child_care</span>
                <span class="material-icons">kitchen</span>
                <span class="material-icons">house</span>
                piscina, barcaboa, aire acondicionado
            </mat-card-content>
        </mat-card>
        <div class="fecha">
            <div class="entrada">
                Entrada
            </div>
            <div class="salida">
                Salida
            </div>
            <div class="precio">
                Precio
            </div>
            <button mat-raised-button color="primary">Reservar</button>
        </div>
    </div>
</div>
