
<div class = "container">
    <div class = "div-precio-noche">
        <p>Rango de precio por noche</p>
        <div class = "mat-parrafo">
            <mat-slider thumbLabel [displayWith]="formatLabel"
                tickInterval="1"
                min="1"
                max="1000"
                required [(ngModel)]="precioSelec" (ngModelChange)="comunicarPrecionoche(precioSelec)">
            </mat-slider> <div> {{precioSelec}} €</div>
        </div>
    </div>
    <mat-divider class= "divisor"></mat-divider>
    <div class = "div-fecha-entra-salida">
        <p>Fecha Entrada y salida</p>
        <oevents-select-fecha-entrada (comunicadorFechaEntrada)="procesaFechaEntrada($event)"
        ></oevents-select-fecha-entrada>
        <oevents-select-fecha-salida (comunicadorFechaSalida)="procesaFechaSalida($event)"
        ></oevents-select-fecha-salida>
    </div>
    <mat-divider class= "divisor"></mat-divider>

    <div class = "div-huespedes">
        <p>Huespedes</p>
        <oevents-select-huespedes></oevents-select-huespedes>
    </div>

    <mat-divider class= "divisor"></mat-divider>

</div>