

.mat-parrafo{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: wrap;
  height: auto;
  justify-content: space-evenly;
}

.div-fecha-entra-salida{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.divisor{
  background-color:  #31897d;
  margin-top: 4px;
  margin-bottom: 4px;
}

.servicios{
  background-color: white;
}

.p-instalaciones{
  font-weight: bold;
}

.check-instalaciones{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px 8px;
  margin-bottom: 8px;
}

.check-mascotas{  
  border-bottom: 1px solid #31897d;
  font-weight: bold;
}

.check-ninnos{

  border-bottom: 1px solid #31897d;
  font-weight: bold;
}

.nueva-busqueda{
  background-color: #DEFCF8;
}

button{
  background-color: #002D27;
  color: #DEFCF8;
}