.mat-select{
    width:140px;
    font-size: 16px;
}
.mat-form-field{
    width:150px;
}

.mat-option{
    width:50px;
    font-size: 16px;
    background: #DEFCF8;
}

.mat-select-panel{
    width:50px;
}