.mat-form-field {
    width: 140px;
    font-size: 16px;
    color: #002D27;
    
}
.mat-form-field {
    width: 150px;
   color: #002D27;
}

.mat-option {
    width: 50px;
    font-size: 16px;
    background: #DEFCF8;
    color: #002D27;
}

.mat-select-panel {
    width: 50px;
    color: #002D27;
}

.mat-label{
    color: #002D27;
}

