.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-card {
    max-width: 25vw;
    margin-top: 15px;
    border: 2px solid black;
}

.example-card > mat-card-actions {
    text-align: center;
}

mat-card-actions > button {
    width: 100%;
    background-color: peru;
}