<div class="titulo-resultado">
  <p><a href="#">INICIO</a> / Resultado búsqueda</p>
  <h1>Resultados de búsqueda: "{{localizacion}}"</h1>
</div>

<div class="cont">
    <div class="filtros">
    <oevents-side-nav-filtro></oevents-side-nav-filtro>
    </div>

  <div class="card-body">
    <mat-card class="example-card" *ngFor="let casa of listaDeCasas">
      <img mat-card-image src="../../../assets/img/casas/{{casa.imagen}}" alt="Imagen generica">

      <div class="contenido-card">
        <mat-card-header>
          <mat-card-title>{{casa.nombre}}</mat-card-title>
          <mat-card-subtitle>{{casa.poblacion.poblacion}}, {{casa.poblacion.provincia.provincia}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{casa.descripcion}}</p>
          <div class="cont-detalles">
            <ul class="detalles">
              <li><span class="material-icons">groups</span>{{casa.personas}}</li>
              <li><span class="material-icons">drafts</span>{{casa.habitaciones}}</li>
              <li><span class="material-icons">single_bed</span>{{casa.camas}}</li>
              <li><span class="material-icons">bathtub</span>{{casa.aseos}}</li>
            </ul>
            <span class="precio">{{casa.precio_noche}} €/noche</span>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button data="casa_{{casa.idcasa}}">RESERVAR</button>
        </mat-card-actions>
      </div>

    </mat-card>
  </div>
</div>