.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: auto !important;
}

.mat-toolbar.mat-primary {
    background: #31897d;
}

.mat-toolbar a {
    font-size: 2.5vw;
}

.mat-toolbar img {
    filter: brightness(0) invert(1);
    width: 10vw;
}

.relleno {
    flex-grow: 1;
}

.session {
    align-self: center;
    flex-grow: 0.2;
}

.mat-icon {
    font-size: 60px !important;
}