.header {
    display: flex;
    align-items: flex-start;
    align-self: center;
    flex-wrap: nowrap;

    min-height: 10vh;
    
    padding: 10px 0
}

.mat-toolbar.mat-primary {
    background: #31897d;
    min-height: 10vh;
}

.mat-toolbar a {
    font-size: 2vw;
    align-self: center;
}

.mat-toolbar img {
    filter: brightness(0) invert(1);
    width: 4vw;
}

.relleno {
    flex-grow: 1;
}

.session {
    align-self: center;
    flex-grow: 0.2;
}

.session span {
    font-size: 3vw !important;
}

@media (max-width: 1440px){
}

@media (max-width: 770PX){
    .mat-toolbar a {
        font-size: 5vw;
    }
    .mat-toolbar img {
        width: 8vw;
    }
    .session span {
        font-size: 7vw !important;
    }
}