.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: auto !important;
}

.mat-toolbar.mat-primary {
    background: #31897d;
}

.mat-toolbar a {
    font-size: 2vw;
}

.mat-toolbar img {
    filter: brightness(0) invert(1);
    width: 5vw;
}

.relleno {
    flex-grow: 1;
}

.session {
    align-self: center;
    flex-grow: 0.2;
}

.session span {
    font-size: 3vw !important;
}