<div class="contenedor">
    <div class="bread-crumb">
        <p><a href="#">INICIO</a> / <a href="" (click)="routeListado($event)">Resultado búsqueda</a> / <a href=""
                (click)="goBack($event)">Detalles casa</a> / Confirmar reserva</p>
    </div>

    <div class="contenido d-flex flex-row flex-wrap justify-content-around mb-4">
        <form id="formReserva" novalidate [formGroup]="form" (ngSubmit)="confirmarReserva()"
            class="col-md-6 pt-2 mb-4 mb-sm-0 d-flex flex-wrap">

            <div class="instrucciones text-center col-12">
                <p class="h5">Rellene el formulario con sus datos para confirmar la reserva del alojamiento. Una vez
                    finalizado el
                    trámite recibirá un e-mail con los detalles y la confirmación de la reserva.</p>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-6">
                <mat-form-field class="col-12 p-0">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" type="text" placeholder="Nombre" name="nombre" required>
                </mat-form-field>
                <p class="col-12 text-danger" *ngIf="form.get('nombre').hasError('required') && intento">Introduzca su
                    nombre por
                    favor.</p>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-6">
                <mat-form-field class="col-12 p-0">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="apellidos" type="text" placeholder="Apellidos" name="apellidos"
                        required>
                </mat-form-field>
                <p class="col-12 text-danger" *ngIf="form.get('apellidos').hasError('required') && intento">Introduzca
                    sus
                    apellidos por
                    favor.</p>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-6">
                <mat-form-field class="col-12 p-0">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" type="string" minlength="9" maxlength="9"
                        placeholder="Teléfono" name="telefono" required>
                </mat-form-field>
                <p class="col-12 text-danger" *ngIf="form.get('telefono').hasError('required') && intento">Introduzca su
                    telefono por
                    favor.</p>
                <p class="col-12 text-danger" *ngIf="(form.get('telefono').hasError('minlength') && intento) || (form.get('telefono').hasError('maxlength') && intento)">Introduzca 9 dígitos.</p>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-6">
                <mat-form-field class="col-12 p-0">
                    <mat-label>Fecha nacimiento</mat-label>
                    <input matInput formControlName="fechaNac" [matDatepicker]="picker" name="fechaNac" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <p class="col-12 text-danger" *ngIf="form.get('fechaNac').hasError('required') && intento">Introduzca su
                    fecha de
                    nacimiento por favor.</p>
                <p class="col-12 text-danger" *ngIf="form.get('fechaNac').hasError('mayorEdad') && intento">Debe ser
                    mayor de 18 años.</p>
            </div>
            <div class="col-12">
                <mat-form-field class="col-12 p-0">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="E-mail" name="email" required>
                </mat-form-field>
                <p class="col-12 text-danger" *ngIf="form.get('email').hasError('required') && intento">Introduzca su
                    e-mail
                    por favor.</p>
                <p class="col-12 text-danger" *ngIf="form.get('email').hasError('email') && intento">Introduzca un
                    e-mail
                    válido.</p>
            </div>

            <div class="col-12">
                <input formControlName="terminos" type="checkbox" name="terminos" class="mr-2" required>
                <mat-label class="terminos-label">He leído y acepto los términos y condiciones de uso.</mat-label>
                <p class="col-12 text-danger" *ngIf="form.get('terminos').hasError('required') && intento">Lea y acepte
                    los términos.</p>
            </div>

            <div class="fechas col-12 d-flex justify-content-between mt-4">
                <mat-form-field class="col-5">
                    <mat-label>Fecha entrada</mat-label>
                    <input matInput name="fecha_entrada" value="{{fechaEntradaStr}}" readonly>
                </mat-form-field>
                <span class="h1 col-2 text-center">
                    <mat-icon>arrow_forward</mat-icon>
                </span>
                <mat-form-field class="col-5">
                    <mat-label>Fecha salida</mat-label>
                    <input matInput name="fecha_salida" value="{{fechaSalidaStr}}" readonly>
                </mat-form-field>
            </div>

            <div class="precio col-12 text-center">
                <h2>Importe total de la reserva: {{precioTotal}}€</h2>
            </div>

            <div class="col-12 d-flex justify-content-around flex-wrap mt-4">
                <button mat-raised-button type="reset"
                    class="order-1 col-5 offset-1 col-sm-12 offset-sm-0 col-md-5 offset-md-1 mb-2 btn btn-danger"
                    (click)="goBack($event)">Cancelar</button>

                <button mat-raised-button color="primary" type="submit"
                    class="order-1 order-sm-0 order-md-1 col-5 offset-1 col-sm-12 offset-sm-0 col-md-5 offset-md-1 mb-2">Confirmar
                    Reserva</button>
            </div>
        </form>

        <div class="col-md-5">
            <mat-card class="card-casa d-flex d-md-block">
                <img mat-card-image src="../../../assets/img/casas/{{casa.imagen}}" alt="Imagen generica"
                    class="p-0 col-5 col-md-12">

                <div class="contenido-card col-7 col-md-12">
                    <mat-card-header>
                        <mat-card-title>{{casa.nombre}}</mat-card-title>
                        <mat-card-subtitle>{{casa.poblacion.poblacion}}, {{casa.poblacion.provincia.provincia}}
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="cont-detalles">
                            <ul class="detalles">
                                <li><span class="material-icons">groups</span>{{casa.personas}}</li>
                                <li><span class="material-icons">drafts</span>{{casa.habitaciones}}</li>
                                <li><span class="material-icons">single_bed</span>{{casa.camas}}</li>
                                <li><span class="material-icons">bathtub</span>{{casa.aseos}}</li>
                            </ul>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <span class="precio">{{casa.precio_noche}} €/noche</span>
                    </mat-card-actions>
                </div>

            </mat-card>
        </div>
    </div>


</div>