.footer {
    display: flex;
    background-color: #002D27;
    justify-content: center;
    min-height: 6vh;
    font-family: Helvetica, sans-serif, monospace;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.container {
    text-align: center;
    color: #DEFCF8;
}

.container a {
    text-decoration: none;
    color: #DEFCF8;
}

.container a:hover {
    color: #78dcce;
}

.container ul.redes i {
    margin-right: 5px;
}

.container ul {
    display: inline-block;
}

.container ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid grey;
}

.container ul li:first-child, .container ul li:last-child {
    border: none;
}

.text-white{
    color: #E3FFF9;
}

li {
    font-size: 1vw;
}

@media (max-width: 770PX){
    ul li:first-child {
        display: block !important;
    }
    li {
        font-size: 2vw;
    }
}