<footer class="footer bg-inverse text-center">
    <div class="container">
      <ul>
        <li>SOBRE NOSOTROS:</li>
        <li><a href="">¿Quiénes somos?</a></li>
        <li><a href="" routerLink="/contact" routerLinkActive="activeLink">Contactar</a></li>
        <li><a href="">Condiciones legales</a></li>
        <li><a href="">Política de cookies</a></li>
      </ul>
      <ul class="redes">
        <li>¡SÍGUENOS!</li>
        <li><a href=""><i class="fab fa-facebook"></i>Facebook</a></li>
        <li><a href=""><i class="fab fa-twitter"></i>Twitter</a></li>
        <li><a href=""><i class="fab fa-instagram"></i>Instagram</a></li>
      </ul>
    </div>
</footer>
