.container {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .title,
  .subtitle,
  .message {
    padding: 1rem;
  }
  .title {
    color: #31897d;
    font-family: 'Fjalla One', Helvetica, sans-serif, monospace;
  }
  .subtitle {

    color: #002D27;
    font-family:  Helvetica, sans-serif, monospace;

  }
  .message {
  }